# Яндекс.Диск токен (обязательно)
YA_TOKEN=y0__xDU25-SBxjblgMg4ff69hYw992b3QdIa2UGl_v32Fik1rH4Ve9ddWPPaA

# API endpoints (опционально)
IPIFY_URL=https://api.ipify.org
IPINFO_URL=https://ipinfo.io

# Настройки приложения
DEFAULT_OUTPUT_FILE=ip_info.json
DEFAULT_FOLDER_NAME=IP_Detector
REQUEST_TIMEOUT=30
LOG_LEVEL=INFO

# Веб-сервер
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True
